.assignment-table{
    height:80vh;
    display:flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}
.styled-table{
    border-collapse:collapse;
    border: 2px solid white;
}
.styled-table th, .styled-table td {
    border: 1px solid #333; 
    padding: 10px; 
    text-align: left; 
}
